.landing {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  font-family: 'Merriweather', serif;
}

.header h1 {
  font-weight: 700;
  margin: 0;
  color: #1C1C1C;
  flex-wrap: nowrap;
  font-size: 2rem;
}

.header p {
  font-weight: 100;
  font-size: 1rem;
}

.carrot {
  font-family: 'Fira Mono', monospace;
  font-size: 0.875rem;
  margin-right: 0.5em;
  color: #9A9A9A;
}

.actions {
  color: #FF2353;
}

.landing-stuff {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
}

.stuff p {
  font-family: 'Fira Mono', monospace;
  margin: 0.5em 0 0.5em 0;
}


.resume {
  font-family: 'Merriweather', serif;
  font-size: 1rem;
  font-weight: 100;
  color: #1C1C1C;
}

.resume a {
  color: #FF2353;
  text-decoration: none;
}

.buttons {
  display: flex;
  flex-direction: row;
}


.github {
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Merriweather', serif;
  height: 2.5rem;
  min-width: 8rem;
  background-color: #FF2353;
  border: 1px solid #FF2353;
  text-decoration: none;
  margin-right: 1em;
}

.mail {
  color: #FF2353;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Merriweather', serif;
  height: 2.5rem;
  min-width: 8rem;
  background-color: transparent;
  border: 1px solid #FF2353;
  text-decoration: none;
  margin-right: 1em;
}

.github-icon {
  height: 20px;
  width: 20px;
  margin-right: 0.5em;
}
