

body {
  background-color:  	#fffafa;
  margin: 0;
  padding: 0;
}
.landing {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.header {
  font-family: 'Merriweather', serif;
}

.header h1 {
  font-weight: 700;
  margin: 0;
  color: #1C1C1C;
  flex-wrap: nowrap;
  font-size: 2rem;
}

.header p {
  font-weight: 100;
  font-size: 1rem;
}

.carrot {
  font-family: 'Fira Mono', monospace;
  font-size: 0.875rem;
  margin-right: 0.5em;
  color: #9A9A9A;
}

.actions {
  color: #FF2353;
}

.landing-stuff {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
}

.stuff {
  text-decoration: none;
}


.stuff p:hover  {
  cursor: pointer;
}

.stuff p {
  font-family: 'Fira Mono', monospace;
}


.resume {
  font-family: 'Merriweather', serif;
  font-size: 1rem;
  font-weight: 100;
  color: #1C1C1C;
}

.resume a {
  color: #FF2353;
  text-decoration: none;
}

.resume a:hover {
  border-bottom: 2px solid #FF2353;
  transition: linear 1s;
}

.buttons {
  display: flex;
  flex-direction: row;
}


.github {
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Merriweather', serif;
  height: 2.5rem;
  min-width: 8rem;
  background-color: #FF2353;
  border: 1px solid #FF2353;
  text-decoration: none;
  margin-right: 1em;
}

.mail {
  color: #FF2353;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Merriweather', serif;
  height: 2.5rem;
  min-width: 8rem;
  background-color: transparent;
  border: 1px solid #FF2353;
  text-decoration: none;
  margin-right: 1em;
}

.github-icon {
  height: 20px;
  width: 20px;
  margin-right: 0.5em;
}



.project-row {
  display: flex;
  flex-direction: row;
}

.skills {
  margin-left: 1.5em;
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

i {
  font-size: 3em;
}

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 15vh;
}

.about p {
  line-height: 1.8rem;
}



.spotify-info {
  display: flex;
  flex-direction: row;
  
}

.spotify-info img {
  margin-right: 3em;
}

.spotify-info a {
  text-decoration: none;
  color: #1C1C1C;
}

.albumArt {
  height: 80px;
  width: 80px;
}

.slider {
  height: 90%;
}

.image {
  width: 40vw;
}

.me-projects {
  margin-top: 1em;
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center
}

.projectz {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.align {
  display: flex;
  flex-direction: column;
}

.project-display {
  width: 80%;
  height: 100%;
}

.stuffs {
  width: 77%;
  display: flex;
}

/* OLD CODE */
.projects {
  height: 30vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10vh;
  flex-wrap: wrap;
}

.projects h2 {
  font-family: 'Merriweather', serif;
}

.projects p {
  font-family: 'Fira Mono', monospace;
}

.my-projects {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
  width: 30%;
}

.project-info h2 {
  font-size: 1rem;
}

.project-info p {
  font-size: 0.75rem;
}

.project-pic {
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  height: auto;
}

.back img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.back {
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: row;
  width: 80px;
  height: 30px;
  align-items: center;
}

.slick-prev:before,
.slick-next:before {
  color: #FF2353;
}


@media(max-width: 961px){
  .about {
    height: 30vh;
  }
}

@media(max-width: 814px){
  .landing-stuff {
    width: 60vw
  }
}

@media(max-width: 770px){
  .projects {
    display: flex;
    height: 100vh;
    flex-direction: column;
  }

  .project-info {
    width: 85%;
  }
}

@media(max-width: 729px) {
  .image {
    width: 50vw;
  }
}

@media(max-width: 625px){
  .landing-stuff {
    width: 65vw;
  }
}


@media(max-width: 501px){
  .landing-stuff {
    width: 70vw;
  }
}

@media(max-width: 479px){
  .image {
    width: 75vw;
  }
}

@media(max-width: 448px){
  .about {
    height: 40vh;
  }
}
